<ion-view view-title="Motion" class="motion">
  <ion-content id="content" class="padding has-header" scroll="true">
    Content Width: {{contentWidth}} </br>
    Content Height: {{contentHeight}}
    <div id="main">
      This text is in a div that is the size of the window inside the ionic padding if applicable.
      </br>
      </br>
      Width: {{width}}
    </div>
    <div class="list card">
      <div class="item item-divider">This is an ionic card</div>
      <div class="item item-body">
        Device Acceleration Data</br>
        X: {{X}}</br>
        Y: {{Y}}</br>
        Z: {{Z}}
      </div>
    </div>
  </ion-content>
</ion-view>
